@use '../utils/index.scss' as *;

.footer {
  @include flex ($jc: space-between,$gap: 0.5rem);
  padding: 2rem 2.5rem;
  background: $color-black;
  font-size: 1.2rem;
  font-weight: 300;
  color: $color-gray-200;

  @include mobile {
    flex-direction: column;
  }
}