@use '../utils/index.scss' as *;

.popup {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 1000;
  min-width: 33rem;
  width: 25vw;
  height: 100dvh;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3;
  color: $color-gray-900;
  background-image: linear-gradient( to bottom right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.6) 100% );
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: rgba(255, 255, 255, 0.5) 10px 0px 45px inset, rgba(0, 0, 0, 0.1) -10px 0px 20px, rgba(0, 0, 0, 0.06) -5px 5px 10px;
  backdrop-filter: blur(8px);
  border-radius: 2rem 0 0 2rem;
  overflow: hidden;
  transition: all 0.3s $ease-in-out-sine;

  @include mobile {
    left: 0;
    right: auto;
    top: auto;
    bottom: -100%;
    min-width: auto;
    width: 100%;
    height: auto;
    max-height: 80dvh;
    border-radius: 2.4rem 2.4rem 0 0;
    background-image: linear-gradient( to bottom right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.8) 100% );
    box-shadow: rgba(255, 255, 255, 0.5) 10px -10px 45px inset, rgba(0, 0, 0, 0.1) -10px -10px 20px, rgba(0, 0, 0, 0.06) -5px -5px 10px;
    font-size: 1.4rem;
  }

  &--is-open {
    right: 0;

    @include mobile {
      right: auto;
      bottom: 0;
    }
  }

  &-dimmed {
    position: fixed;
    inset: 0;
    z-index: 900;
    background: rgba(0,0,0,0.25);
    opacity: 0;
    will-change: opacity;
    transition: opacity 0.2s $ease-in;

    &--active {
      opacity: 1;
    }
  }

  .__inner {
    position: relative;
    @include flex($ai: flex-start, $direction: column, $gap: 3rem);
    width: 33rem;
    height: 100%;
    padding: 10rem 3rem;

    @include mobile {
      width: 100%;
      padding: 7rem 2rem 4rem;
    }
  }

  &__header{
    position: relative;
    width: 100%;

    .__title {
      font-size: 2.4rem;
      line-height: 1.3;
      color: $color-black;

      @include mobile {
        font-size: 2rem;
        line-height: 1.15;
      }

      &-wrap {
        @include flex ($ai: flex-end);
        + .popup__tag {
          margin-top: 1rem;
        }
      }
    }
  }


  &__tag {
    @include flex ($gap: 0.4rem) {
      flex-wrap: wrap;
    }
    li {
      padding:0.4rem 1rem;
      // background: $color-gray-400;
      border: 1px solid $color-gray-500;
      border-radius: 1.4rem;
      font-size: 1.4rem;
      font-weight: 400;
      color: $color-gray-500;

      @include mobile {
        font-size: 1.2rem;
      }
    }
  }

  &__close {
    position: absolute;
    top: -5rem;
    right: 0;
    width: 4rem;
    height: 4rem;
    background: url('./../../assets/icon/icon_close.svg') no-repeat center / 100%;
  }

  &__body {
    flex: 1;
    // overflow-y: scroll;
    &__item {
      @include flex($gap: 2rem, $ai: flex-start);

      + .popup__body__item {
        margin-top: 2rem;

        @include mobile {
          margin-top: 1rem;
        }
      }

      .__title {
        flex-shrink: 0;
        width: 6.4rem;
        font-weight: 600;
        
      }

      .__content {

        &:has(.btn--detail) {
          line-height: 1.5;

          ul li::before {
            top: 1rem;
          }
        }

        .__sub-desc {
          display: block;
          font-size: 1.4rem;
          color: $color-gray-700;

          @include mobile {
            font-size: 1.2rem;
          }
        }
        ul {
          li {
            padding-left: 1rem;
            @include before (0.4rem, 0.4rem) {
              left: 0;
              top: 0.8rem;
              background: $color-gray-900;
              border-radius: 50%;
              @include mobile {
                top: 0.6rem;
              }
            }

            + li {
              margin-top: 1rem;
  
              @include mobile {
                margin-top: 0.6rem;
              }
            }
          }
        }
      }
    }
  }

  .btn {
    &--go-to-site {
      flex-shrink: 0;
      display: inline-block;
      height: 2rem;
      width: 2rem;
      margin-left: 0.6rem;
      background: url('./../../assets/icon/icon_link.svg') no-repeat center / 100%;
    }

    &--detail {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 0rem 0.6rem;
      height: 2.2rem;
      background-color: $color-gray-500;
      border-radius: 0.6rem;
      font-size: 1.2rem;
      color: $color-white;
      will-change: background-color;
      transition: background-color 0.2s;

      &:hover {
        background-color: $color-gray-600;
      }
    }
  }
}

