@use './../utils/index.scss' as *;
body, html {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#scroll-wrap {
  height: 100dvh;
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); 
  clip-path: inset(50%); 
  white-space: nowrap;
  border: 0;
}

.fc {
  &-purple {
    color: $color-primary-purple;
    font-weight: 700;
  }
  &-coral {
    color: $color-primary-coral;
    font-weight: 700;
  }
}